@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>MinimalMVC 2017</h2>
        ASP .NET Core MVC web app built in VS2017.
    </div>
    <div class="col-md-3">
        <h2>Used to illustrate</h2>
        <ul>
            <li>ASP.NET Core</li>
            <li>Models</li>
            <li>Views</li>
            <li>Controllers</li>
            <li>Unit Tests</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Azure</h2>
        <ul>
            <li>App Service</li>
            <li>Web Apps</li>
            <li>Function Apps</li>
            <li>JavaScript-Function Calls</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Calc Service</h2>
        <ul>
            <li><a asp-area="" asp-controller="Calc" asp-action="Index">Calc MVC</a></li>
            <li><a asp-area="" asp-controller="Calc" asp-action="FunctionCaller">Calc Func</a></li>
        </ul>
    </div>
</div>
